<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.smarthwatches.simplenotification" >

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <activity
            android:name=".WearActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" >
        </service>

        <service
            android:name=".MyMessageIntentService"
            android:exported="false" >
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="77659fc078164494a9a19260f8bda3d8dc21383f" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
